.success {
  color: green;
  background: lightgray;
  border-style: solid;
  border-radius: 3px;
  width: 500px;
  padding: 5px;
  font-size: 20px;
}

.error {
  color: red;
  background: lightgray;
  border-style: solid;
  border-radius: 3px;
  width: 500px;
  padding: 5px;
  font-size: 20px;
}
